.landing__contact {
    background: $peach url(../assets/shared/desktop/bg-pattern-two-circles.svg) no-repeat top/150%;
    color: $white;
    text-align: center;
    padding: 3rem 1rem;

    .contact__title {
        line-height: 36px;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .contact-content {
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        width: 95%;
        margin: 0 auto;
    }
}

.contact__form {
    display: flex;
    flex-direction: column;
    text-align: left;

    .input__container {
        border-bottom: 1px solid $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #name,#email,#phone {
        width: 60%;
        padding: 1rem;
        background: transparent;
        border: none;
        outline: none;
        color: $white;
        line-height: 26px;
    }

    #message {
        width: 100%;
        padding: 1rem;
        background: transparent;
        border: none;
        outline: none;
        color: $white;
        line-height: 26px;
    }

    .error-message {
        display: none;
        width: 30%;
        font-style: italic;
        font-size: 12px;
        line-height: 26px;
        text-align: right;

        .icon-error {
            vertical-align: middle;
            margin-left: 0.5rem;
        }
    }

    button {
        letter-spacing: 1px;
        font-weight: 500;
    }
}

::placeholder {
    color: $white;
}

// Remove arrows from phone fields
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}