@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// primary colors
$peach: hsl(11°, 73%, 66%);
$black: hsl(270°, 3%, 11%);
$white: hsl(0°, 0%, 100%);

// secondary colors
$lightPeach: hsl(11°, 100%, 80%);
$darkGrey: hsl(264°, 5%, 20%);
$LightGrey: hsl(210°, 17%, 95%);

:root {
    // font family
    font-family: 'Jost', sans-serif;
    font-size: 15px;
}

@mixin media-md {
    @media screen and (min-width: 641px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
