@include media-md {
       
    .header {
        width: 95%;
        margin: 0 auto;
        padding: 0 2rem;

        .header__logo img{
            width: 60%;
        }

        .header__nav {
            display: inline-flex;
        }

        .nav__list {
            list-style-type: none;
            display: inline-flex;
        }

        .mobile__list {
            display: none;
        }

        .hamburger-menu {
            display: none;
        }

    }

    .nav--item a {
        text-decoration: none;
        margin-left: 3rem;
        text-transform: uppercase;
        color: $darkGrey;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 2px;
    }

    .main {
        .landing__complex {
            margin: 0 auto;
            margin-top: 6rem;
            width: 90%;
            height: 120vh;
            border-radius: 15px;
            background: $peach url(../assets/shared/desktop/bg-pattern-small-circle.svg) no-repeat center/60%;
    
            .landing__title {
                font-size: 48px;
                line-height: 48px;
            }
    
            .landing__content {
                width: 80%;
                margin: 0 auto;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 2rem;
            }
    
        }
    
        .details {
    
            .detail {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 3%;
    
                .detail__title {
                    margin: 1rem 0;
                    text-align: initial;
                }
    
                .detail-content {
                    text-align: initial;
                    padding: 0;
                }
            }
    
        }
    
        .contact-link {
            background: $peach url(../assets/shared/desktop/bg-pattern-call-to-action.svg) repeat right/80%;
            .contact--link__title {
                width: 50%;
                margin: 0 auto;
            }

            .contact--link__content {
                width: 70%;
                margin: 0 auto;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        }

    }


    .footer {
        width: 100%;
        padding: 1rem 2rem;

        .row-one {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;     
            border-bottom: 1px solid white;

            .mobile-line {
                display: none;
            }
        }
    
        .footer__logo img{
            width: 40%;
            display: block;
            float: left;
        }

        .light-line {
            display: none;
        }

        .footer__nav {
            display: inline-flex;

            .footer__nav__list {
                list-style-type: none;
                display: inline-flex;

                .footer__nav--item {
                    margin-left: 2rem;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 2px;
                }
            }
        }
    
    }

    .footer__connect {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .connect__one, .connect__two, .connect__social {
            text-align: start;
        }

        .connect__social {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    }

    // Web design, app design and graphic design
    .landing {
        margin: 0 auto;
        width: 95%;
        border-radius: 15px;
        background: $peach url(../assets/shared/desktop/bg-pattern-small-circle.svg) no-repeat left/60%;

        .landing__title {
            font-size: 48px;
            line-height: 48px;
        }

        .landing__content {
            width: 80%;
            margin: 0 auto;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 2rem;
        }
    }

    // about page
    .landing__about {
        margin: 0 auto;
        width: 95%;
        border-radius: 15px;
        margin-bottom: 3rem;

        .about__desc {
            background: $peach url(../assets/shared/desktop/bg-pattern-small-circle.svg) no-repeat left/60%;
        }

        .about__title {
            font-size: 48px;
            line-height: 48px;
        }

        .about__content {
            width: 80%;
            margin: 0 auto;
            font-size: 16px;
            line-height: 26px;
        }

        .about__photo img{
            display: block;
            width: 100%;
            height: auto;
            object-fit: contain;
            border-radius: 15px 15px 0 0;
        }
    }

    .talent {
        margin: 0 auto;
        width: 95%;
        border-radius: 15px;
        margin-bottom: 3rem;

        .talent__photo img{
            width: 100%;
            border-radius: 15px 15px 0 0;
        }

        .talent__desc {
            border-radius: 0 0 15px 15px;

            .talent__heading {
                font-size: 40px;
                line-height: 48px;
            }

            .talent-content {
                width: 90%;
                margin: 0 auto 2rem auto;
            }
        }
    }

    .deal {
        margin: 0 auto;
        width: 95%;
        border-radius: 15px;
        margin-bottom: 3rem;

        .deal__desc {
            border-radius: 0 0 15px 15px;

            .deal__title {
                font-size: 40px;
                line-height: 48px;
            }

            .deal__content {
                width: 95%;
                margin: 0 auto 2rem auto;
            }
        }

        .deal__photo img{
            width: 100%;
            height: auto;
            border-radius: 15px 15px 0 0;
        }

    }
    
    // Locations Page
    .canada {
        margin: 0 auto;
        width: 95%;
        margin-bottom: 1rem;

        .country__desc {
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            text-align: initial;

            .country__office__details {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-bottom: 0;
            }

            .canada__contact {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }

        .canada__location img,  .united__kingdom img{
            border-radius: 15px;
            width: 100%;
            display: block;
            margin-bottom: 2rem;
        }

    }

    .australia {
        margin: 0 auto;
        width: 95%;
        margin-bottom: 1rem;

        .country__desc {
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            text-align: initial;

            .country__office__details {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin: 0;
            }

            .australia__contact {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }
        
        .australia__location img {
            border-radius: 15px;
            width: 100%;
            display: block;
            margin-bottom: 2rem;
        }
    }

    .united__kingdom {
        margin: 0 auto;
        width: 95%;
        margin-bottom: 1rem;

        .country__desc {
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            text-align: initial;

            .country__office__details {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin: 0;
            }

            .united__kingdom__contact {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }

        .united__kingdom__location img {
            border-radius: 15px;
            width: 100%;
            display: block;
            margin-bottom: 2rem;
        }
    }

    // Contact page
    .main {
        .landing__contact {
            width: 90%;
            margin: 0 auto;
            border-radius: 15px;
            text-align: initial;
            padding: 4rem;

            .contact-content {
                width: 95%;
                margin: 0;
            }
        }

    }
}



// For laptops and up
@include media-lg {
    // Home page
    body {
        width: 100%;
        margin: 0 auto;

        .header {
            padding: 1rem 4rem;

        }        

        .main {
            width: 90%;

            .landing {
                width: 100%;
                margin-top: 5rem;
            }

            .landing__complex {
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items:flex-start;
                padding: 2rem 4rem 0 4rem;
                text-align: initial;
                overflow: hidden;
                background: $peach url(../assets/shared/desktop/bg-pattern-small-circle.svg) no-repeat right top/60%;
            }

            .landing__desc {
                width: 60%;
                margin-top: 3rem;
                .landing__title {
                    text-align: initial;
                }
                .landing__content {
                    text-align: initial;
                    margin: initial;
                    padding: 0;
                }
                .landing-btn {
                    margin: 2rem 0 0 0;
                }
            }

            .services {
                display: flex;
                flex-direction: row;
                gap: 3%;

                .column-two {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 3%;
                }
            }

            .details {
                display: flex;
                flex-direction: row;
                
                .detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    .detail-content, .detail__title{
                        text-align: center;
                    }
                }
            }
        }

        .contact-link {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 3rem 4rem;
            margin: 0 0 -10rem 0;

            .contact--link__desc {
                text-align: initial;

                .contact--link__title {
                    width: 35%;
                    margin: 0;
                    padding: 0;
                }

                .contact--link__content {
                    margin: 2rem 0;
                }
            }
        }

        .footer {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

    // Web design page
    body {

        .main {
            width: 90%;
            margin: 0 auto;

            .landing {
                .landing__content {
                    width: 40%;
                }
            }

            .portfolio {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 3%;
                padding: 0;
            }
        }
    }

    // About page
    .main {
        .landing__about {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5rem;
            width: 100%;
            .about__desc {
                width: 50%;
                text-align: initial;
                .about__title {
                    margin-left: 3rem;
                }

                .about__content {
                    margin-left: 3rem;
                    width: 90%;
                }
            }
            .about__photo img{
                display: block;
                border-radius: 0 15px 15px 0;
            }
        }

        .talent {
            width: 95%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5rem;
            .talent__photo img{
                display: block;
                border-radius: 15px 0 0 15px;

            }
            .talent__desc {
                width: 70%;
                padding: 4rem;
                text-align: initial;
                border-radius: 0 15px 15px 0;

                .talent-content {
                    margin: 0;
                    margin-bottom: 2rem;
                }
            }
        }

        .about__location {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .deal {
            width: 100%;
            display: flex;
            flex-direction: row;

            .deal__desc {
                width: 70%;
                text-align: initial;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 15px 0 0 15px;
                padding: 4rem;

                .deal__title {
                    text-align: start;
                }

                .deal__content {
                    width: 100%;
                }
            }
            .deal__photo img{
                max-width: 100%;
                max-height: 100%;
                display: block;
                border-radius: 0 15px 15px 0;
                object-fit: cover;
            }
        }
    }

    // Location Page
    body {
        .main {
            width: 90%;
            margin: 0 auto;
            .locations {
                width: 100%;
                display: flex;
                flex-direction: column;

                .canada, .australia, .united__kingdom {
                    width: 100%;
                    display: grid;
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 3%;
                }

                .canada, .united__kingdom {
                    .country__desc {
                        grid-column: 1 / 3;
                        align-items: flex-end;
                    }
                }
                .australia {
                    .australia__location {
                        grid-column: 1 / 2;
                    }
                    .country__desc {
                        grid-column: 2 / 4;
                    }
                }
            }
        }
    }

    // Contact page
    body {
        .main {
            .landing__contact {
                width: 100%;
                display: flex;
                flex-direction: row;
                border-radius: 15px;
                justify-content: space-between;
                align-items: center;
                padding: 2rem 4rem;

                .landing__desc__contact {
                    width: 40%;
                    .contact__title {
                        font-size: 48px;
                        line-height: 48px;
                        text-align: initial;
                    }
                    .contact-content {
                        font-size: 16px;
                        line-height: 26px;
                        text-align: initial;
                        width: 90%;
                        margin: 0;
                    }

                }

                .contact__form {
                    width: 70%;
                    // flex: 50%;
                }

            }
        }
    }

}