// Web design
.landing {
    background: $peach url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) no-repeat top right;
    color: $white;
    text-align: center;
    padding: 5rem 1rem 4rem 1rem;
}

.portfolio {
    display: grid;
    margin: 3rem 0 3rem 0;
    padding: 0rem 1rem;
}

.portfolio__card {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2rem;

    .card__banner img{
        width: 100%;
        border-radius: 15px 15px 0 0;
        display: block;
    }

    .card__info {
        background-color: hsl(14, 76%, 97%);
        border-radius: 0 0 15px 15px;
        text-align: center;
        padding: 2rem 2rem;

        .card__title {
            color: hsl(11, 72%, 66%);
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        .card__desc {
            color: $darkGrey;
            font-size: 16px;
            line-height: 26px;
        }
    }
}

.portfolio__card:hover {
    cursor: pointer;
    .card__info {
        background-color: $peach;

        .card__title {
            color: $white;
        }

        .card__desc {
            color: $white;
        }
    }
}