@import './config';
@import './responsive';
@import './web-design';
@import './about';
@import './locations';
@import './contact';

.container {
    width: 100%;
}

// To create overlap of footer
.main {
    position: relative;
    z-index: 2;
}

.header {
    margin: 2rem 0;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    width: 100%;
}

.header__nav {
    display: none;
}

.header__logo img {
    width: 80%;
    display: inline-block;
    vertical-align: bottom;
}

.nav--item:hover, .footer__nav--item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.landing__complex {
    background: $peach url(../assets/shared/desktop/bg-pattern-small-circle.svg) no-repeat left/170%;
    color: $white;
    text-align: center;
    padding: 4rem 1rem 0rem 1rem;
    height: 170vh;
    overflow: hidden;
}

.landing__title {
    line-height: 36px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.landing__content {
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.landing__photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__photo img{
    margin-top: -8rem;
    width: 200%;
    height: auto;
}

.landing-btn, .contact-link--btn, .location--btn, .submit-btn{
    transition: color 400ms, background-color 400ms;
    cursor: pointer;
}

.landing-btn:hover, .contact-link--btn:hover, .location--btn:hover, .submit-btn:hover {
   background-color: $lightPeach;
   color: $white;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: $white;
    color: $darkGrey;
    border: none;
    outline: none;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;   
}

.services {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .services-info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .services-title {
        color: $white;
        line-height: 36px;
        font-size: 28px;
        letter-spacing: 1.4px;
        font-weight: 600;
    }

    .services--action {
        color: $white;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 5px;
        text-decoration: none;

        span img {
            margin-left: 1rem;
        }
    }
}

.service--image {
    display: block;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    filter: brightness(50%);
}

.services__app, .services__web, .services__graphic {
    position: relative;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 2rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details {
    margin: 3rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}   

.detail__img {
    background: url(../assets/shared/desktop/bg-pattern-small-circle.svg) no-repeat top/100%;
}

.detail__title {
    text-align: center;
    text-transform: uppercase;
    line-height: 26px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 2rem 0;
}

.detail-content {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 0 1rem;
}

.contact-link {
    margin: 0 2rem 0 2rem;
    margin-bottom: -10rem;
    padding: 3rem 1rem;
    text-align: center;
    color: $white;
    border-radius: 15px;
    background: $peach url(../assets/shared/desktop/bg-pattern-call-to-action.svg) repeat right/80%;

    .contact--link__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 2rem;
        padding: 0 1rem;
    }

    .contact--link__content {
        font-weight: 400;
        line-height: 25px;
        font-size: 15px;
        margin-bottom: 2rem;
    }
}

.footer {
    background: hsl(270, 3%, 11%);
    position: relative;
    padding-top: 13rem;      
}

.footer__logo img {
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
}

.footer__nav__list {
    text-align: center;
}

.footer__nav__list li{
    margin-bottom: 2rem;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
}

.footer__nav__list a{
    text-align: center;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}  

.row-one {

    .mobile-line {
        height: 1px;
        width: 80%;
        margin: 0 auto;
        background-color: hsl(0, 0%, 59%);
        margin-bottom: 2rem;
    }

    .tablet-line {
        height: 1px;
        width: 90%;
        margin: 0 auto;
        background-color: hsl(0, 0%, 59%);
        margin-bottom: 2rem;
    }
  
}

// remove the top padding from contact footer
.contact-footer {
    padding-top: 5rem;
}

.connect__one {
    text-align: center;
    margin-bottom: 2rem;

    .company__name {
        font-size: 16px;
        line-height: 26px;
        color: $LightGrey;
        font-weight: bold;
        mix-blend-mode: normal;
        opacity: 0.5;
    }

    .company__address {
        font-size: 16px;
        line-height: 26px;
        color: $LightGrey;
        font-weight: 400;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}

.connect__two {
    text-align: center;
    margin-bottom: 2rem;

    .contact__office {
        font-size: 16px;
        line-height: 26px;
        color: $LightGrey;
        font-weight: bold;
        mix-blend-mode: normal;
        opacity: 0.5;
    }

    .phone__number, .email__address {
        font-size: 16px;
        line-height: 26px;
        color: $LightGrey;
        font-weight: 400;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
}

.connect__social {
    padding-bottom: 2rem;
    text-align: center;

    .social-media {
        margin-right: 1rem;
        width: 24px;
        height: 24px;
    }

    .social-media:hover {
        a svg path {
            fill: $lightPeach;
        }

    }
    .social-media a svg{
        cursor: pointer;
        width: 24px;
        height: 24px;
        transition: fill 400ms;
    }

}