@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Jost', sans-serif;
  font-size: 15px;
}

.container {
  width: 100%;
}

.main {
  position: relative;
  z-index: 3;
}

.header {
  margin: 2rem 0;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__logo img {
  width: 80%;
  display: inline-block;
  vertical-align: bottom;
}

.header .header__nav {
  display: none;
}

.landing__complex {
  background: #e88069 url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) no-repeat top right;
  color: white;
  text-align: center;
  padding: 5rem 2rem 0rem 2rem;
}

.landing__title {
  line-height: 36px;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.landing__content {
  font-weight: 400;
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 2rem;
}

.landing__photo img {
  width: 100%;
  display: block;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: white;
  color: #323036;
  border: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}

.services__web {
  background: url(../assets/home/mobile/image-web-design.jpg) no-repeat center;
}

.services__app {
  background: url(../assets/home/mobile/image-app-design.jpg) no-repeat center;
}

.services__graphic {
  background: url(../assets/home/mobile/image-graphic-design.jpg) no-repeat center;
}

.services__app, .services__web, .services__graphic {
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services {
  margin: 3rem 0 3rem 0;
  padding: 0rem 1rem;
}

.services .services-title {
  color: white;
  line-height: 36px;
  font-size: 28px;
  letter-spacing: 1.4px;
  font-weight: 500;
}

.services .services--action {
  color: white;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 5px;
  text-decoration: none;
}

.services .services--action span img {
  margin-left: 1rem;
}

.details {
  margin: 3rem 0 3rem 0;
  padding: 0rem 1rem;
}

.details .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail__title {
  text-transform: uppercase;
  line-height: 26px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  margin: 2rem 0;
}

.detail-content {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.contact-link {
  margin: 3rem 1rem 0 1rem;
  margin-bottom: -10rem;
  padding: 3rem 1rem;
  text-align: center;
  color: white;
  border-radius: 10px;
  background: #e88069 url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) no-repeat top;
}

.contact-link .contact--link__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 2rem;
}

.contact-link .contact--link__content {
  font-weight: 400;
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 2rem;
}

.footer {
  background: #1c1b1d;
  position: relative;
  z-index: 1;
  padding-top: 13rem;
}

.row-one .footer__logo img {
  width: 70%;
  margin: 0 auto;
  display: block;
  margin-bottom: 2rem;
}

.row-one .footer__nav__list {
  text-align: center;
}

.row-one .footer__nav__list li {
  margin-bottom: 2rem;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
}

.row-one .footer__nav__list a {
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

.connect__one {
  text-align: center;
  margin-bottom: 2rem;
}

.connect__one .company__name {
  font-size: 16px;
  line-height: 26px;
  color: #f0f2f4;
  font-weight: bold;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.connect__one .company__address {
  font-size: 16px;
  line-height: 26px;
  color: #f0f2f4;
  font-weight: 400;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.connect__two {
  text-align: center;
  margin-bottom: 2rem;
}

.connect__two .contact__office {
  font-size: 16px;
  line-height: 26px;
  color: #f0f2f4;
  font-weight: bold;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.connect__two .phone__number, .connect__two .email__address {
  font-size: 16px;
  line-height: 26px;
  color: #f0f2f4;
  font-weight: 400;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.connect__social {
  padding-bottom: 2rem;
  text-align: center;
}

.connect__social .social-media {
  margin-right: 1rem;
}

.landing {
  background: #e88069 url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) no-repeat top right;
  color: white;
  text-align: center;
  padding: 5rem 1rem 4rem 1rem;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  margin: 3rem 0 3rem 0;
  padding: 0rem 1rem;
}

.portfolio__card {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.portfolio__card .card__banner img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
}

.portfolio__card .card__info {
  background-color: #fdf4f2;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding: 2rem 2rem;
}

.portfolio__card .card__info .card__title {
  color: #e7816a;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.portfolio__card .card__info .card__desc {
  color: #323036;
  font-size: 16px;
  line-height: 26px;
}

.landing__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background: #e88069 url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) no-repeat top right;
  color: white;
  text-align: center;
}

.landing__about .landing__photo img {
  display: block;
  width: 100%;
  margin-bottom: 4rem;
}

.landing__about .about__desc {
  padding: 0 1rem;
  margin-bottom: 4rem;
}

.landing__about .about__title {
  line-height: 36px;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.landing__about .about__content {
  font-weight: 400;
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 2rem;
}

.talent__photo img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  display: block;
}

.talent__desc {
  text-align: center;
  padding: 4rem 1rem;
  background: #fdf4f2 url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) no-repeat top right;
}

.talent__desc .talent__heading {
  font-weight: 500;
  line-height: 36px;
  font-size: 32px;
  color: #e88069;
  margin-bottom: 2rem;
}

.talent__desc .talent-content {
  margin-bottom: 2rem;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #323036;
}

.about__location {
  text-align: center;
  margin-bottom: 5rem;
}

.location__title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
}

.location .btn {
  background-color: #e88069;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
}

.location--link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
}

.deal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 5rem;
}

.deal .deal__photo img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.deal__desc {
  text-align: center;
  padding: 4rem 1rem;
  background: #fdf4f2 url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) no-repeat top right;
}

.deal__desc .deal__title {
  font-weight: 500;
  line-height: 36px;
  font-size: 32px;
  color: #e88069;
  margin-bottom: 2rem;
}

.deal__desc .deal__content {
  margin-bottom: 2rem;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #323036;
}

.locations .canada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.locations .canada .canada__location {
  height: 320px;
  background: url(../assets/locations/tablet/image-map-canada.png);
}

.locations .australia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.locations .australia .australia__location {
  height: 320px;
  background: url(../assets/locations/tablet/image-map-australia.png);
}

.locations .united__kingdom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.locations .united__kingdom .united__kingdom__location {
  height: 320px;
  background: url(../assets/locations/tablet/image-map-uk.png);
}

.country__desc {
  text-align: center;
  padding: 3rem 0;
  margin-bottom: 4rem;
  background: #fdf4f2 url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) repeat top center;
}

.country__desc .country__office__details {
  margin-bottom: 2rem;
}

.country__desc .country__title {
  font-size: 32px;
  line-height: 36px;
  color: #e88069;
  margin-bottom: 2rem;
}

.country__desc .country__office {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
}

.landing__contact {
  background: #e88069;
  color: white;
  text-align: center;
  padding: 3rem 1rem;
}

.landing__contact .contact__title {
  line-height: 36px;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.landing__contact .contact-content {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  width: 95%;
  margin: 0 auto;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form #name, .contact__form #email, .contact__form #phone, .contact__form #message {
  margin-bottom: 2rem;
  padding: 1rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
}

.contact__form button {
  letter-spacing: 1px;
  font-weight: 500;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}
/*# sourceMappingURL=main.css.map */