@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Jost', sans-serif;
  font-size: 15px;
}

.container {
  width: 100%;
}

.header {
  margin: 2rem 0;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__logo img {
  width: 80%;
  display: inline-block;
  vertical-align: bottom;
}

.header .header__nav {
  display: none;
}

.landing__complex {
  background: #e88069 url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) no-repeat top right;
  color: white;
  text-align: center;
  padding: 5rem 2rem 0rem 2rem;
}

.landing__title {
  line-height: 36px;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.landing__content {
  font-weight: 400;
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 2rem;
}

.landing__photo img {
  width: 100%;
  display: block;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: white;
  color: #323036;
  border: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
}

.services__app, .services__web, .services__graphic {
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services {
  margin: 3rem 0 3rem 0;
  padding: 0rem 2rem;
}

.services .services-title {
  color: white;
  line-height: 36px;
  font-size: 28px;
  letter-spacing: 1.4px;
  font-weight: 500;
}

.services .services--action {
  color: white;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 5px;
  text-decoration: none;
}

.services .services--action span img {
  margin-left: 1rem;
}

.services .services__web {
  background: url(../assets/home/mobile/image-web-design.jpg) no-repeat center;
}

.services .services__app {
  background: url(../assets/home/mobile/image-app-design.jpg) no-repeat center;
}

.services .services__graphic {
  background: url(../assets/home/mobile/image-graphic-design.jpg) no-repeat center;
}

.details {
  margin: 3rem 0 3rem 0;
  padding: 0rem 2rem;
}

.details .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail__title {
  text-transform: uppercase;
  line-height: 26px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  margin: 2rem 0;
}

.detail-content {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.contact-link {
  margin: 3rem 2rem 0 2rem;
  padding: 3rem 2rem;
  text-align: center;
  color: white;
  border-radius: 10px;
  background: #e88069 url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) no-repeat top;
}

.contact-link .contact--link__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 2rem;
}

.contact-link .contact--link__content {
  font-weight: 400;
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 2rem;
}

.footer {
  background: #323036;
}

.footer__logo img {
  width: 70%;
}

.landing {
  background: #e88069 url(../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg) no-repeat top right;
  color: white;
  text-align: center;
  padding: 5rem 2rem 4rem 2rem;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  margin: 3rem 0 3rem 0;
  padding: 0rem 2rem;
}

.portfolio__card {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.portfolio__card .card__banner img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
}

.portfolio__card .card__info {
  background-color: #fdf4f2;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding: 2rem 2rem;
}

.portfolio__card .card__info .card__title {
  color: #e7816a;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.portfolio__card .card__info .card__desc {
  color: #323036;
  font-size: 16px;
  line-height: 26px;
}
/*# sourceMappingURL=main.css.map */